@{
  Layout = "_Layout";
}

<h3>Welcome to your salon management software!</h3>

<p>Use the links above to view information on your stylists and the clients you have on record. You can return to this page at any time by clicking the home link.</p>